---
layout: base
title: Referanslar
slug: references
short_description: Neler yaptık?
---
<div id="content">
  {%include top_page_header.html%}
  <div class="content-wrap">
    <div class="container clearfix">
      <div id="portfolio" class="portfolio-2 clearfix">
      {% for item in site.data.references %}
        <div class="portfolio-item pf-uielements">
          <div class="portfolio-image">
            <a href="#"><img src="assets/images/{{ page.slug }}/{{ item.logo_file }}" alt="Grey UI Kit" title="Grey UI Kit" /></a>
            <div class="portfolio-overlay">
              <div class="portfolio-overlay-wrap">
                <p>{{ item.description }}</p>
              </div>
              <div class="p-overlay-icons clearfix">
                <a href="{{ item.url }}" class="p-o-link" target="_blank"></a>
              </div>
            </div>
          </div>
          <div class="portfolio-title">
            <h3 title="{{ item.name }}"><a href="{{ item.url }}" target="_blank">{{ item.name }}</a></h3>
          </div>
        </div>
      {% endfor %}
      </div>
    </div>
  </div>
</div>
