<!DOCTYPE html>
<html dir="ltr" lang="en-US">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <!-- ============================================
        Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Droid+Serif:400,400italic|Open+Sans:400,300,600,700&subset=latin,latin-ext" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
    <link rel="stylesheet" media="only screen and (-webkit-min-device-pixel-ratio: 2)" type="text/css" href="css/retina.css" />
    <link rel="stylesheet" href="css/colors.php" type="text/css" />
    <link rel="stylesheet" href="css/tipsy.css" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="css/prettyPhoto.css" type="text/css" />
    <link rel="stylesheet" href="css/rs/css/rs-settings.css" type="text/css" />
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link rel="shortcut icon" href="/images/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!--[if lt IE 9]>
    	<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->
    <!-- ============================================
        External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.plugins.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.js"></script>
    <!-- ============================================
        Document Title
    ============================================= -->
    <title>{{ page.title }} | Veriyol</title>
  </head>

  <body class="stretched">
    <div id="wrapper" class="clearfix">
      <!-- ============================================
      Sticky Header
      ============================================= -->
      <div id="sticky-menu" class="clearfix">
        <div class="container clearfix">
          <div class="sticky-logo">
            <a href="/"><img src="images/stickylogo.png" alt="CoWorker" title="CoWorker" /></a>
          </div>
          <!--<div class="sticky-search-trigger">-->
            <!--<a href="#"><i class="icon-search"></i></a>-->
          <!--</div>-->
          <div class="sticky-menu-wrap">
            <ul>
              <li><a href="/"><div>ANASAYFA</div></a></li>
              <li><a href="/services.html"><div>SERVİSLER</div></a></li>
              <li><a href="/projects.html"><div>PROJELER</div></a></li>
              <li><a href="/references.html"><div>REFERANSLAR</div></a></li>
              <li><a href="/contact.html"><div>İLETİŞİM</div></a></li>
            </ul>
          </div>
          <!--<div class="sticky-search-area">-->
            <!--<form id="sticky-search" action="#" method="get">-->
              <!--<input type="text" id="sticky-search-input" name="q" placeholder="Arama" value="" />-->
            <!--</form>-->
            <!--<div class="sticky-search-area-close">-->
              <!--<a href="#"><i class="icon-remove"></i></a>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <!-- ============================================
          Top Bar
      ============================================= -->
      <div id="top-bar">
        <div class="container clearfix">
          <div id="top-social">
            <ul>
              <li class="ts-facebook"><a href="https://www.facebook.com/pages/Veriyol/166713890183287"><div class="ts-icon"></div><div class="ts-text">Facebook</div></a></li>
              <li class="ts-twitter"><a href="https://twitter.com/veriyol"><div class="ts-icon"></div><div class="ts-text">Twitter</div></a></li>
              <li class="ts-gplus"><a href="https://plus.google.com/105813397679998654454"><div class="ts-icon"></div><div class="ts-text">Google+</div></a></li>
              <li class="ts-linkedin"><a href="http://www.linkedin.com/company/veriyol"><div class="ts-icon"></div><div class="ts-text">LinkedIn</div></a></li>
              <!--<li class="ts-phone"><a href="tel:+902123373670"><div class="ts-icon"></div><div class="ts-text">212 3373670</div></a></li>-->
              <li class="ts-mail"><a href="mailto:info@veriyol.com"><div class="ts-icon"></div><div class="ts-text">info@veriyol.com</div></a></li>
            </ul>
          </div>
        </div>
      </div>
      <!-- ============================================
          Header
      ============================================= -->
      <div id="header">
        <div class="container clearfix">
          <!-- ============================================
              Logo
          ============================================= -->
          <div id="logo">
            <a href="/" class="standard-logo"><img src="images/logo.png" alt="CoWorker" title="CoWorker" /></a>
            <a href="/" class="retina-logo"><img src="images/logo@2x.png" alt="CoWorker" title="CoWorker" width="204" height="120" /></a>
          </div>
          <!-- ============================================
              Menu
          ============================================= -->
          <div id="primary-menu">
            <ul id="main-menu">
              <li{% if page.class == "services" %} class="current"{% endif %}><a href="/services.html"><div>SERVİSLER</div><span>Alabileceğiniz <br>hizmetler</span></a></li>
              <li{% if page.class == "projects" %} class="current"{% endif %}><a href="/projects.html"><div>PROJELER</div><span>Devam eden <br>projelerimiz</span></a></li>
              <li{% if page.class == "references" %} class="current"{% endif %}><a href="/references.html"><div>REFERANSLAR</div><span>Kimlerle <br> çalıştık?</span></a></li>
              <li{% if page.class == "contact" %} class="current"{% endif %}><a href="/contact.html"><div>İLETİŞİM</div><span>Bize ulaşmak <br>için</span></a></li>
              
              </ul>
             
          </div>
        </div>
      </div>
      {{ content }}
      <!-- ============================================
          Footer
      ============================================= -->
      <div id="footer" class="footer-dark">
        <div class="container clearfix">
          <div class="footer-widgets-wrap clearfix">
            <div class="col_one_fourth">
              <div class="widget portfolio-widget clearfix">
                <h4>İletişim</h4>
                  <div style="background: url('images/world_map.png') no-repeat center center; height: 100px;">
                    <ul style="font-size: 13px;">
                      <li class="icon-map-marker">Barbaros Bulvarı Nisbetiye Mahallesi <br />Uygur Apt. 102 1/5<br /> Beşiktaş, İstanbul</li>
                      <li class="icon-phone">0212 337 36 70</li>
                      <li class="icon-envelope-alt">info@veriyol.com</li>
                    </ul>
                  </div>
                </div>
              </div>
              <!--
              <div class="col_one_fourth">
                <div id="linkcat-2" class="widget widget_links clearfix">
                  <h4 class="widget-title">Blogroll</h4>
                  <ul class='xoxo blogroll'>
                    <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                    <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                    <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                    <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                    <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                    <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                    <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                  </ul>
                </div>
              </div>
             
              <div class="col_one_fourth">
                <div id="flickr_widget-1" class="widget flickr-widget clearfix">
                  <h4 class="widget-title">Flickr Photostream</h4>
                  <div id="flickr_widget" class="flickrfeed" data-id="52617155@N08" data-count="9" data-type="user"></div>
                </div>
              </div>
               -->
              <div class="col_one_fourth">
                <div class="widget clearfix">
                  <h4>Bize hemen ulaşın!</h4>
                  <div id="quick-contact-form-result"></div>
                    <form id="quick-contact-form" name="quick-contact-form" action="http://getsimpleform.com/messages?form_api_token=331fd1c86e1ab8143ed1ca90506e8342" method="post" class="quick-contact-form nobottommargin">
                      <input type="text" class="required input-block-level" id="quick-contact-form-name" name="quick-contact-form-name" value="" placeholder="Adınız" />
                      <input type="text" class="required email input-block-level" id="quick-contact-form-email" name="quick-contact-form-email" value="" placeholder="E-posta adresiniz" />
                      <textarea class="required input-block-level short-textarea" id="quick-contact-form-message" name="quick-contact-form-message" rows="30" cols="10" placeholder="Mesaj"></textarea>
                      <button type="submit" id="quick-contact-form-submit" name="quick-contact-form-submit" class="btn btn-small btn-inverse nomargin" value="submit">Gönder</button>
                    </form>
                    <script type="text/javascript">
                    jQuery(document).ready(function($) {
                        $("#quick-contact-form").validate({
                            messages: { 
                                'quick-contact-form-name': '',
                                'quick-contact-form-email': '',
                                'quick-contact-form-message': ''
                            },
                        submitHandler: function(form) {
                                $(form).find('.btn').prepend('<i class="icon-spinner icon-spin"></i>').addClass('disabled').attr('disabled', 'disabled');
                          $(form).ajaxSubmit({
                            target: '#quick-contact-form-result',
                                    success: function() {
                                        $("#quick-contact-form").fadeOut(500, function(){
                                            $('#quick-contact-form-result').fadeIn(500);
                                        });
                                    },
                                    error: function() {
                                        $('#quick-contact-form-result').fadeIn(500);
                                        $("#quick-contact-form").find('.btn').remove('<i class="icon-spinner icon-spin"></i>').removeClass('disabled').removeAttr('disabled');
                                    }
                          });
                        }
                      });
                  });
                </script>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clear"></div>
      <!-- ============================================
          Copyrights
      ============================================= -->
      <div id="copyrights" class="copyrights-dark">
        <div class="container clearfix">
          <div class="col_full">
           &copy; 2013  VERİYOL BİLİŞİM VE REKLAM HİZMETLERİ TİC. LTD. ŞTİ
          </div>
        </div>
      </div>
    </div>
    <div id="gotoTop" class="icon-angle-up"></div>
    <script type="text/javascript" src="js/custom.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-38003098-4', 'veriyol.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
