<!DOCTYPE HTML>
<html lang="en-US">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="0; url=https://koinim.com">
        <script type="text/javascript">
            window.location.href = "https://koinim.com"
        </script>
        <title>Yönlendiriliyor</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        Otomatik olarak yönlendirilmediyse lütfen <a href='https://koinim.com'>tıklayınız</a>.
    </body>
</html>
